<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Password Records</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
<header class="header">
    <a href="#" class="logo">My Password Manager</a>
    <nav class="nav-items">
        <a href="#">Home</a>
        <a th:href="@{/searchPass}">SearchPage</a>
        <a th:href="@{/viewPass}">ViewPassword</a>
    </nav>
</header>

<main>
    <h1>Search Password Records by Title</h1>
    <form action="#"  method="post">
        <label for="search-title">Enter Title:</label>
        <input type="text" id="search-title" name="search-title" placeholder="Title...">
        <button type="submit">Search By Title</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>URL</th>
            <th>Email</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="s : ${searchTitle}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.username}"></td>
            <td th:text="${s.password}"></td>
            <td th:text="${s.url}"></td>
            <td th:text="${s.email}"></td>
            <td th:text="${s.notes}"></td>
        </tr>
        </tbody>
    </table>
<!--    <p th:if="${searchTitle.isEmpty()}">No records found for the given title.</p>-->
</main>

<footer>
    © Vidhi Kalal- My Password Manager
</footer>
</body>
</html>

