<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Password Records</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
<header class="header">
    <a href="#" class="logo">My Password Manager</a>
    <nav class="nav-items">
        <a href="#">Home</a>
        <a th:href="@{/searchPass}">SearchPage</a>
        <a th:href="@{/viewPass}">ViewPassword</a>
    </nav>
</header>

<main>
    <h1>Password Records</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Username</th>
            <th>Password</th>
            <th>URL</th>
            <th>EMAIL</th>
            <th>NOTES</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="s:${viewPass}">
            <td th:text="${s.title}">Null</td>
            <td th:text="${s.password}">Null</td>
            <td th:text="${s.username}">Null</td>
            <td th:text="${s.url}">Null</td>
            <td th:text="${s.email}">Null</td>
            <td th:text="${s.notes}">Null</td>
        </tr>
        <!-- Repeat the above row for each record -->
        </tbody>
    </table>
    <p id="no-records-message">No records found in the database.</p>
</main>

<footer>
    © Vidhi Kalal- My Password Manager
</footer>
</body>
</html>